@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Library.Resources.SharedResource.EmailNotConfirmed;
}

<hgroup>
    <h1 class="text-danger">@Library.Resources.SharedResource.EmailNotConfirmed</h1>
    <h2 class="text-danger">@Library.Resources.SharedResource.ConfirmEmailToLogin</h2>
</hgroup>
